In [25]:
import pandas as pd
from surprise import KNNWithMeans
from surprise import Dataset
from surprise import Reader

In [3]:
ratings_dict = {
    "item": [1, 2, 1, 2, 3, 1, 2, 1, 2, 1],
    "user": ['A', 'A', 'B', 'B', 'B', 'C', 'C', 'D', 'D', 'E'],
    "rating": [1, 2, 2, 4, 3, 2.5, 4, 4.5, 5, 3],
}

df = pd.DataFrame(ratings_dict)
reader = Reader(rating_scale=(1, 5))

# Loads Pandas dataframe
data = Dataset.load_from_df(df[["user", "item", "rating"]], reader)
# Loads the builtin Movielens-100k data
movielens = Dataset.load_builtin('ml-100k')

In [14]:
data.build_full_trainset().ur

defaultdict(list,
            {0: [(0, 1.0), (1, 2.0)],
             1: [(0, 2.0), (1, 4.0), (2, 3.0)],
             2: [(0, 2.5), (1, 4.0)],
             3: [(0, 4.5), (1, 5.0)],
             4: [(0, 3.0)]})

In [22]:
df

   item user  rating
0     1    A     1.0
1     2    A     2.0
2     1    B     2.0
3     2    B     4.0
4     3    B     3.0
5     1    C     2.5
6     2    C     4.0
7     1    D     4.5
8     2    D     5.0
9     1    E     3.0

In [16]:
trainSet = data.build_full_trainset()

In [17]:
trainSet.ur

defaultdict(list,
            {0: [(0, 1.0), (1, 2.0)],
             1: [(0, 2.0), (1, 4.0), (2, 3.0)],
             2: [(0, 2.5), (1, 4.0)],
             3: [(0, 4.5), (1, 5.0)],
             4: [(0, 3.0)]})

In [20]:
testSet = trainSet.build_anti_testset()

In [21]:
testSet

[('A', 3, 3.1), ('C', 3, 3.1), ('D', 3, 3.1), ('E', 2, 3.1), ('E', 3, 3.1)]

In [24]:
reco_KNN = KNNWithMeans(sim_options = sim_options)
reco_KNN.fit(trainSet)

NameError: name 'reco_KNN' is not defined

In [ ]:
# create predictions
reco_KNN.test(testSet)